<center>
  <div class="w3-card-4">
    <div class="w3-container w3-pink">
  <br>
  <h2 class="w3-myfont"><b>Small Wish</b></h2>
  <br>
</div><br><br>
  <center><img src="img/kidhands.png" class="w3-circle" alt="Logo"></center>
<div class="w3-container w3-center"> <br> 
<p>
<form class="form-auth w3-myfont" ng-submit="login()">
	<center><h2 class="w3-myfont">Admin LogIn</h2><br>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control" required><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required><br>
	<input type="submit" value="Log in" class="w3-btn w3-white w3-border w3-border-pink w3-round w3-myfont" /><br><br>
	<p><a href="#/register" class="w3-myfont">Create an Account</a></p></center><br>
</form>
</p>
</div>
</div>
</center>


